extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	.text-style
		h1 Заголовок H1
		h2 Заголовок H2
		h3 Заголовок H3
		h4 Заголовок H4
		h5 Заголовок H5
		h6 Заголовок H6
		p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании новых предложений. Значимость этих проблем
		p Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании новых предложений. Значимость этих проблем
		ul
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
				ul
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
		ol
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
			li Идейные соображения высшего порядка, а также постоянный количественный рост;
				ol
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
					li Идейные соображения высшего порядка, а также постоянный количественный рост;
						ol
							li Идейные соображения высшего порядка, а также постоянный количественный рост;
							li Идейные соображения высшего порядка, а также постоянный количественный рост;
		a(href="#") Ссылка
